$colors: (
  color1: #768492,
  color2: #f3f6fd,
  color3: #f5f5f5,
  color4: #f3f6fd9d,
  color5: #1f1c2f,
  color6: #131313,
  color7: #f0864a,
  color8: #8ac3a3,
  color9: #87baf5,
  color10: #0b666a,
  color11: #f674ad,
  color12: #aa87f5,
) !default;

$secondary-colors: (
  white: #ffffff,
  black: #000000,
  gray: #777777,
);

$main-border-radius: 10px;
$main-padding: 25px;
$second-padding: 20px;
