@use "../abstracts/variables" as vars;
@use "../abstracts/extends";
@use "sass:map";

.loading {
  @extend %position_fixed_full_screen;
  background-color: map.get($map: vars.$colors, $key: color2);
  overflow: hidden;
  z-index: 9999;
}
.loader {
  background: url("../../../public/assets/loader.gif");
  background-size: 20%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: 50% 40%;
}
.loading-screen-actions {
  @extend %position_fixed_full_screen;
  @extend %display_flex_align_and_content_center;
  background-color: map.get($map: vars.$colors, $key: color4);
  z-index: 9999;
}
.loader-actions {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: loaderAction 1s infinite linear;
}

@keyframes loaderAction {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
