@use "../abstracts/variables" as vars;
@use "sass:map";
@use "../abstracts/extends";
%icon-change-avatar {
  position: absolute;
  border-radius: 3px;
  top: -10px;
  width: 20px;
  height: 20px;
  padding: 2px;
  left: -5px;
  font-size: 14px;
  @extend %display_flex_align_and_content_center;
  background-color: map.get($map: vars.$secondary-colors, $key: white);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.side-bar {
  margin: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: map.get($map: vars.$secondary-colors, $key: white);
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 260px;
  height: calc(100vh - 60px);
  z-index: 999;
  transition: all 0.5s ease;
  .nav-pills {
    .nav-item {
      a.actions {
        color: map.get($map: vars.$colors, $key: color6);
        &.active {
          background-color: map.get($map: vars.$secondary-colors, $key: gray);
          color: map.get($map: vars.$secondary-colors, $key: white);
        }
      }
    }
  }
  .dropdown-menu .dropdown-item {
    &.active {
      background-color: map.get($map: vars.$secondary-colors, $key: gray);
      color: map.get($map: vars.$secondary-colors, $key: white);
    }
  }
  .dropdown {
    position: relative;
    .icon-change-avatar {
      @extend %icon-change-avatar;
      &:hover {
        color: map.get($map: vars.$secondary-colors, $key: black);
        transform: scale(150%);
        background-color: transparent;
      }
    }
  }
}

.mobile-navbar {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: -100%;
  width: 100%;
  z-index: 999;
  nav {
    background-color: map.get($map: vars.$secondary-colors, $key: white);
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .dropdown {
    position: relative;
    .icon-change-avatar {
      @extend %icon-change-avatar;
      &:hover {
        color: map.get($map: vars.$secondary-colors, $key: black);
        transform: scale(150%);
        background-color: transparent;
      }
    }
  }
}

.side-bar-mobile {
  background-color: map.get($map: vars.$secondary-colors, $key: white);
  transition: all 0.5s ease-in-out;
  width: 200px;
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 999;
  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .navbar-nav {
    padding: 15px;
    height: fit-content;
    border-right: 3px solid map.get($map: vars.$colors, $key: color2);
    border-bottom: 3px solid map.get($map: vars.$colors, $key: color2);
    border-bottom-right-radius: 10px;
    .nav-link {
      &.active {
        transform: scale(110%);
      }
    }
  }
  .dropdown-item.active {
    background-color: map.get($map: vars.$secondary-colors, $key: gray);
  }
}

.dropdown-item:active {
  background-color: map.get($map: vars.$secondary-colors, $key: gray);
}
